body {
    background-color: #656565;
}

#homesection {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
    display: flex;
}

#hometext {
    max-width: 60%;
    text-align: center;
    
}