.dashSection {
    top: 70px;
}

.header {
    margin-top: 100px;
    background-color: black;
    height: 300px;
}

.title {
    
    color:#aaaaaa;
}

.quote1text {
    color: #748569;
    max-width: 30%;
}

.quote2text {
    color:thistle;
    max-width: 20%;
}

.addNoteLink {
    display: block;
    width: 100%;
    
}

