body {
    background-color: #656565;
}

#homesection {
    max-width: 100%;
    display: flex;
}

#hometext {
    max-width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}