title {
    color: #171717;
}

.container {
    display: flex;
    width: 100%;
}

.card {
    width: 100%;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input {
    flex-direction: column;
}